<input type="text" [(ngModel)] = "string">
<button (click)="cerca()">Cerca</button>
<table class="center larghezza padTop">
    <tr>
        <th class="td1, thfont">CODICE</th>
        <th class="td2, thfont">DESCRIZIONE</th>
        <th class="td3, thfont">SELEZIONA</th>
    </tr>

    <tr *ngFor="let p of prodotti ; index as i">
        <td class="td1">{{p.codice}}</td>
        <td class="td2">{{p.descrizione}}</td>
        <td><button (click)="seleziona(i)">SELEZIONA</button></td>
    </tr>

</table> 