<div class="padTop center border">
    <div class="container2" class="padTop center">
        <div id="left2">
            <input type="text" class="testo" placeholder="codice" />
        </div>
        <div id="right2">
            <input type="text" class="testo" placeholder="descrizione" />
        </div>
        <br>
        <div class="container4" class="padTop center">
            <div id="left4">
                <button (click)= "modifica()">MODIFICA</button>
            </div>
            <div id="leftcenter4">
                <button (click)= "conferma()">CONFERMA</button>
            </div>
            <div id="rightcenter4">
                <button (click)= "annulla()">ANNULLA</button>
            </div>
            <div id="right4">
                <button (click)= "rimuovi()">RIMUOVI</button>
            </div>
        </div>
    </div>
</div> 